/* ==========================================================================
  Album
  ========================================================================== */
$module: 'album';

.#{$module} {
  @extend %center;
  position: absolute;
  width: 300px;
  transition: 1s transform $ease-out-quint;

  /* ==========================================================================
  Elements
  ========================================================================== */
  &__vinyl {
    width: 300px;
    height: 300px;
    margin: 0 0 $gutter-lg;
    transition: 1s transform $ease-out-quint;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__single, &__title {
    width: 500px;
    transition: 1s transform $ease-out-quint;

    &.no-transition {
      transition: none;
    }
  }

  &__title {
    margin: 0;
  }

  /* ==========================================================================
  Modifiers
  ========================================================================== */
}
