/* ==========================================================================
  Aziz
  ========================================================================== */
$module: 'aziz';

.#{$module} {
  @extend %center;
  // top: 100%;
  width: 1000px;
  z-index: 2;
  // transition: 25s top $ease-linear;

  /* ==========================================================================
  Elements
  ========================================================================== */
  &__paragraph {
    margin: 0 0 $gutter-lg;
  }

  &__highlight {
    display: inline-block;
    position: relative;

    /* ==========================================================================
    Elements
    ========================================================================== */
    &__copy {
      position: relative;
      z-index: 1;
    }

    &__mask {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      color: $black;
      mask: url(../img/aziz-mask.png) no-repeat;
    }

    &__stroke {
      position: absolute;
      top: 0;
      left: -2.5%;
      width: 105%;
      height: 120%;
      z-index: 0;
      mask: url(../img/aziz-mask.png) no-repeat;
    }

    &__mask, &__stroke {
      transition: 3s mask-position $ease-out-expo;
    }

    /* ==========================================================================
    Modifiers
    ========================================================================== */
    &--heartbreak {
      .aziz__highlight__mask, .aziz__highlight__stroke {
        mask-position: 400% 50%;
      }

      &.aziz__highlight--highlighted {
        .aziz__highlight__mask, .aziz__highlight__stroke {
          mask-position: 5% 50% !important;
        }
      }
    }

    &--boom {
      .aziz__highlight__mask, .aziz__highlight__stroke {
        mask-position: 250% 50%;
      }

      &.aziz__highlight--highlighted {
        .aziz__highlight__mask, .aziz__highlight__stroke {
          mask-position: 65% 50% !important
        }
      }
    }

    &--bobbing {
      .aziz__highlight__mask, .aziz__highlight__stroke {
        mask-position: 460% 50%;
      }

      &.aziz__highlight--highlighted {
        .aziz__highlight__mask, .aziz__highlight__stroke {
          mask-position: 55% 50% !important;
        }
      }
    }
  }

  /* ==========================================================================
  Modifiers
  ========================================================================== */
  %-scrolling {
    top: 0;
  }
}
