/* ==========================================================================
  Aziz
  ========================================================================== */
$module: 'aziz';

.#{$module} {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;

  /* ==========================================================================
  Elements
  ========================================================================== */
  &__intro {
    @extend %center;
    width: calc(100% - #{$gutter-xxl});
    text-align: center;
  }

  &__heading {
    * {
      display: none;
    }
  }

  &__subheading {
    opacity: 0;
    transition: 0.25s opacity $ease-out-quint;
  }

  &__button {
    @extend %center-horizontally;
    display: inline-block;
    width: 345px * 0.75;
    height: 70px * 0.75;
    margin: $gutter-xs 0 0;
    line-height: 70px * 0.75;
    border-radius: 999px;
    background: url(../img/playlist-button.png) center center;
    background-size: cover;
    cursor: pointer;
    opacity: 0;
    transition: 0.25s all $ease-out-quint;
    @include rem(font-size, $h5-size);

    &:hover {
      transform: translateX(-50%) scale(1.05);
    }
  }

  &__quote {
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%;
    transform: translateX(-50%) translateY(100vh);
    transition: 22.5s transform $ease-linear;

    &--scrolling {
      transform: translateX(-50%) translateY(-100vh);
    }
  }

  &__paragraph {
    margin: 0 0 $gutter-lg;
  }

  &__highlight {
    display: inline-block;
    position: relative;

    /* ==========================================================================
    Elements
    ========================================================================== */
    &__copy {
      position: relative;
      z-index: 1;
    }

    &__mask {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      color: $black;
      mask: url(../img/aziz-mask.png) no-repeat;
    }

    &__stroke {
      position: absolute;
      top: 0;
      left: -2.5%;
      width: 105%;
      height: 120%;
      z-index: 0;
      mask: url(../img/aziz-mask.png) no-repeat;
    }

    &__mask, &__stroke {
      transition: 2s mask-position $ease-out-quint;
    }

    /* ==========================================================================
    Modifiers
    ========================================================================== */
    &--heartbreak {
      .aziz__highlight__mask, .aziz__highlight__stroke {
        mask-position: 410% 50%;
      }

      &.aziz__highlight--highlighted {
        .aziz__highlight__mask, .aziz__highlight__stroke {
          mask-position: 5% 50% !important;
        }
      }
    }

    &--boom {
      .aziz__highlight__mask, .aziz__highlight__stroke {
        mask-position: 260% 50%;
      }

      &.aziz__highlight--highlighted {
        .aziz__highlight__mask, .aziz__highlight__stroke {
          mask-position: 65% 50% !important
        }
      }
    }

    &--bobbing {
      .aziz__highlight__mask, .aziz__highlight__stroke {
        mask-position: 470% 50%;
      }

      &.aziz__highlight--highlighted {
        .aziz__highlight__mask, .aziz__highlight__stroke {
          mask-position: 55% 50% !important;
        }
      }
    }
  }

  /* ==========================================================================
  Modifiers
  ========================================================================== */
}
