/* ==========================================================================
  Aziz
  ========================================================================== */
$module: 'aziz';

.#{$module} {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;

  /* ==========================================================================
  Elements
  ========================================================================== */
  &__intro {
    @extend %center;
    width: calc(100% - #{$gutter-xxl});
    margin: $gutter-xxs 0 0 0;
    text-align: center;
    transform: translateX(-50%) translateY(-50%) translateY(75px);
    transition: 1.25s transform $ease-out-quint;

    &--scroll-1 {
      transform: translateX(-50%) translateY(-50%) translateY(35px);
    }

    &--scroll-2 {
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__heading {
    span {
      display: none;
    }

    @media screen and (max-width: $screen-xxs-max) {
      @include rem(line-height, $h5-height);
    }
  }

  &__subheading {
    opacity: 0;
    transition: 1s opacity $ease-out-quint;

    &--visible {
      opacity: 1;
    }
  }

  &__button {
    @extend %center-horizontally;
    display: block;
    position: relative;
    width: 250px;
    height: 50px;
    margin: 12.5px 0 0;
    border-radius: 999px;
    background: url(../img/playlist-button.png) center center;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    cursor: pointer;
    transform: translateX(-50%) scale(0.9);
    transition: 1s opacity $ease-out-quint, 1s visibility $ease-out-quint, 0.5s transform $ease-out-quint;
    @include rem(font-size, $h5-size);

    @media screen and (min-width: $screen-sm-min) {
      margin: $gutter-sm 0 0;
      transform: translateX(-50%) scale(1);
    }

    @media screen and (min-width: $screen-xl-min) {
      margin: $gutter-md 0 0;
    }

    &:hover {
      @media screen and (min-width: $screen-sm-min) {
        transform: translateX(-50%) scale(1.1);
      }
    }

    > span {
      @extend %center;
      width: 100%;
      display: inline-block;
      cursor: pointer;
    }

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }

  /* ==========================================================================
  Modifiers
  ========================================================================== */
}
