/* ==========================================================================
  Kanye
  ========================================================================== */
$module: 'kanye';

.#{$module} {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: 3;

  @media screen and (min-width: $screen-md-min) {
    transform: translateX(-(#{$kanye-distance-md}));
  }

  @media screen and (min-width: $screen-lg-min) {
    transform: translateX(-(#{$kanye-distance-lg}));
  }

  canvas {
    @extend %center-horizontally;
    display: block;
    bottom: -$gutter-sm;
    transform-origin: left bottom;
  }

  /* ==========================================================================
  Elements
  ========================================================================== */


  /* ==========================================================================
  Modifiers
  ========================================================================== */
  &--zoom-out {
    // transform: scale(0.8) translateY(-150px);
  }
}
