/* ==========================================================================
  Playlist
  ========================================================================== */
$module: 'playlist';

.#{$module} {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: visible;
  transition: 0.75s transform $ease-in-out-quart 0.15s;

  @media only screen and (orientation:portrait) {
    display: none;
  }

  @media only screen and (orientation:landscape) {
    display: block;
  }

  @if $debug {
    transform: scale(0.15);
    overflow: visible;
  }

  /* ==========================================================================
  Elements
  ========================================================================== */
  &__slideshow, &__slide {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__slideshow {
    .#{$module}__slide {
      &:first-child {
        z-index: 1;
      }
    }

    &--animations {
      @extend %before-after;
      z-index: 3;
      transition: 0.75s transform $ease-in-out-quart;

      .#{$module}__slide {
        &:first-child {
          z-index: 1;
        }
      }
    }

    &--albums {
      z-index: 2;
      transition: 0.75s transform $ease-in-out-quart 0.05s;
    }

    &--videos {
      z-index: 1;
      transition: 0.75s transform $ease-in-out-quart 0.1s;

      .#{$module}__slide {
        &:first-child {
          .video {
            opacity: 0;
            visibility: hidden;

            &--visible {
              @media screen and (min-width: $screen-md-min) {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }

        overflow: hidden;
      }
    }
  }

  &__progress {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 2;
    height: 30px;
    width: calc(100% - #{($gutter-sm * 2)});
    transform: translateY(-100%) translateY(-30px);
    transition: 1s transform $ease-out-quint 0.1s;

    &__track, &__indicator {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    &__track {
      filter: grayscale(100%);
      opacity: 0.5;
      z-index: 0;
      background: url(../img/playlist-progress.png) left top repeat-x;
      background-size: 50% 50%;
    }

    &__indicator {
      z-index: 1;
      width: 0;
      overflow: hidden;
      transition: none;

      .#{$module}__progress__track {
        opacity: 1;
        filter: none;
      }

      &--reset {
        transition: 0.75s width $ease-out-quint;
      }
    }

    &--visible {
      transform: none;
    }
  }

  &__frame {
    z-index: 2;

    &--top, &--right, &--bottom, &--left {
      position: absolute;
      top: 0;
      transition: 1s transform $ease-out-quint;
    }

    &--top, &--bottom {
      height: 30px;
      width: 100%;
      background: url(../img/playlist-frame-top-bottom.png) center bottom repeat-x;
      background-size: 100% 100%;
    }

    &--top {
      transform: scaleY(-1) translateY(100%);

      &.#{$module}__frame--visible {
        transform: scaleY(-1);
      }
    }

    &--bottom {
      top: auto;
      bottom: 0;
      transform: translateY(100%);

      &.#{$module}__frame--visible {
        transform: none;
      }
    }

    &--left, &--right {
      height: 100%;
      width: 30px;
      background: url(../img/playlist-frame-left-right.png) center left repeat-y;
      background-size: 100% 100%;
    }

    &--left {
      left: 0;
      transform: translateX(-100%);

      &.#{$module}__frame--visible {
        transform: none;
      }
    }

    &--right {
      right: 0;
      transform: scaleX(-1) translateX(-100%);

      &.#{$module}__frame--visible {
        transform: scaleX(-1);
      }
    }
  }

  &__social {
    display: none;
    position: absolute;
    right: $gutter-xl + $gutter-xxs;
    bottom: $gutter-lg;
    z-index: 5;
    opacity: 0;
    text-align: right;
    transition: 0.75s opacity $ease-out-quint;

    @media screen and (min-width: $screen-md-min) {
      display: block;
    }

    &__icon {
      transition: 0.5s transform $ease-out-quint;

      &:hover {
        transform: scale(1.1);
      }

      &--mute {
        background: url('../img/icon-mute.png') no-repeat;
        background-size: cover;
      }

      &--facebook {
        background: url('../img/icon-facebook.png') no-repeat;
        background-size: cover;
      }

      &--twitter {
        background: url('../img/icon-twitter.png') no-repeat;
        background-size: cover;
      }
    }

    &__hashtag {
      margin: $gutter-xxs 0;
    }

    &__credits {
      display: block;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: normal;
      margin: $gutter-xs 0 0;
      letter-spacing: 1px;

      @media screen and (min-width: $screen-md-min) {
        margin: 0;
      }

      a {
        display: inline-block;
        padding: 0 0 $gutter-xxs/2;
        border-bottom: 1px solid transparent;
        transition: 0.5s border $ease-out-quint;

        &:hover {
          border-bottom: 1px solid $white;
        }
      }
    }

    &--visible {
      opacity: 1;
    }
  }

  &__preloader {
    @extend %center;
    margin-top: $gutter-xxs;
    word-wrap: break-word;
    width: 100%;
    text-align: center;

    &__icon {
      @extend %center;
      width: 265px !important;
      height: 280px !important;
      opacity: 0;
      z-index: 0;
      transform-origin: left top;
      transform: scale(0.4) translate(-50%, -50%);
      background: url('../img/playlist-preloader.png');
      transition: 0.75s opacity $ease-out-quint 0.2s;
      animation: beating 2s infinite;

      @keyframes beating {
        0%   { transform: scale(0.5) translate(-50%, -50%);}
        35%  { transform: scale(0.45) translate(-50%, -50%);}
        50%  { transform: scale(0.45) translate(-50%, -50%);}
        65%  { transform: scale(0.45) translate(-50%, -50%);}
        100% { transform: scale(0.5) translate(-50%, -50%);}
      }
    }

    &__percentage {
      position: relative;
      z-index: 1;
      margin: 0;
      opacity: 0;
      transform: scale(0.9);
      transition: 0.75s opacity $ease-out-quint 0.3s, 0.75s transform $ease-out-quint 0.2s;
    }

    &--visible {
      .playlist__preloader__icon {
        opacity: 1;
        transform: scale(0.5) translate(-50%, -50%);
        transition: 0.75s opacity $ease-out-quint 0.3s;
      }

      .playlist__preloader__percentage {
        opacity: 1;
        transform: scale(1);
        transition: 0.75s opacity $ease-out-quint 0.2s, 0.75s transform $ease-out-quint 0.25s;
      }
    }
  }

  &__overlay {
    position: fixed;
    z-index: 998;
    background-color: $black;
    opacity: 0;
    visibility: hidden;
    transition: 0.75s opacity $ease-in-out-quart, 0.75s visibility $ease-in-out-quart;

    &--visible {
      opacity: 0.9;
      visibility: visible;
    }
  }

  &__close {
    position: fixed;
    top: $gutter-md;
    right: $gutter-md;
    transform: scale(1.25);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    background: url('../img/icon-close.png') no-repeat;
    background-size: cover;
    transition: 0.75s transform $ease-in-out-quart 0.15s, 0.75s opacity $ease-in-out-quart 0.15s, 0.75s visibility $ease-in-out-quart 0.15s;
    @include rem(font-size, $h3-size);

    @media screen and (min-width: $screen-md-min) {
      top: $gutter-xl;
      right: $gutter-xl;
    }

    &--visible {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
      transition: 0.5s transform $ease-in-out-quart 0.5s, 0.75s opacity $ease-in-out-quart 0.5s, 0.75s visibility $ease-in-out-quart 0.5s;

      &:hover {
        transition: 0.5s transform $ease-in-out-quart;
        transform: scale(1.1);
      }
    }
  }

  &__about {
    @extend %center;
    position: fixed;
    z-index: 999;
    width: 80%;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.25);
    transition: 0.5s transform $ease-in-out-quart, 0.5s opacity $ease-in-out-quart, 0.5s visibility $ease-in-out-quart;

    @media screen and (min-width: $screen-md-min) {
      width: 800px;
      margin-left: $gutter-md;
    }

    &--visible {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      transition: 0.75s transform $ease-in-out-quart 0.15s, 0.75s opacity $ease-in-out-quart 0.15s, 0.75s visibility $ease-in-out-quart 0.15s;
    }

    &__social {
      margin: $gutter-sm 0 0 0;
      transform: translateY($gutter-xs);

      @media screen and (min-width: $screen-md-min) {
        margin: 0;
        transform: translateY($gutter-lg);
      }
    }

    &__author {
      margin: 0;

      @media screen and (min-width: $screen-md-min) {
        @include rem(font-size, $h5-size);
        @include rem(line-height, $h5-height);
      }
    }

    .playlist__social__hashtag {
      margin: 0 0 0 $gutter-sm;

      @media screen and (min-width: $screen-md-min) {
        @include rem(font-size, $h6-size);
        @include rem(line-height, $h6-height);
      }
    }
  }

  &__control {
    @extend %center-vertically;
    position: fixed;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    cursor: default;
    filter: blur(0);
    backface-visibility: hidden;
    transition: 0.75s transform $ease-out-quint, 0.5s opacity $ease-out-quint, 0.5s visibility $ease-out-quint 1s;

    /* ==========================================================================
    Modifiers
    ========================================================================== */
    &--prev {
      left: 40px;
      transform: translateY(-50%) scale(-1.25);

      @media screen and (min-width: $screen-xs-min) {
        left: $gutter-lg;
      }

      @media screen and (min-width: $screen-sm-min) {
        left: $gutter-xl;
      }

      &.playlist__control--visible {
        transition: 0.25s transform $ease-out-quint, 0.25s opacity $ease-out-quint 0.5s;
        transform: translateY(-50%) scale(-1);

        &:hover {
          transform: translateY(-50%) scale(-1.1);
        }
      }
    }

    &--next {
      right: 40px;
      transform: translateY(-50%) scale(1.25);

      @media screen and (min-width: $screen-xs-min) {
        right: $gutter-lg;
      }

      @media screen and (min-width: $screen-sm-min) {
        right: $gutter-xl;
      }

      &.playlist__control--visible {
        transition: 0.25s transform $ease-out-quint, 0.25s opacity $ease-out-quint 0.5s;
        transform: translateY(-50%) scale(1);

        &:hover {
          transform: translateY(-50%) scale(1.1);
        }
      }
    }

    &--visible {
      cursor: pointer;
      opacity: 1;
      visibility: visible;
    }
  }

  /* ==========================================================================
  Modifiers
  ========================================================================== */
  &--zoom-out {
    transform: scale(0.33);
    transition: 0.75s transform $ease-in-out-quart;
  }
}
