/* ==========================================================================
  Quote
  ========================================================================== */
$module: 'quote';

.#{$module} {
  // @extend %center-horizontally;
  width: 1000px;

  /* ==========================================================================
  Elements
  ========================================================================== */
  &__paragraph {
    margin: 0 0 $gutter-lg;
  }

  &__highlight {

  }

  /* ==========================================================================
  Modifiers
  ========================================================================== */
}
