/* ==========================================================================
   Variables
   ========================================================================== */
$debug:               false;

// Layout
$gutter-xxs:          5px;
$gutter-xs:           10px;
$gutter-sm: 	        20px;
$gutter-md: 	        30px;
$gutter-lg: 	        50px;
$gutter-xl: 	        75px;
$gutter-xxl:          100px;

// Colors
$white:               #FFF;
$black:               #000;
$light-grey:          #EEE;
$grey:                #AAA;
$dark-grey:           #222;

// Type
$font-family-sans-serif:    "DropDeadGorgeous", Arial, sans-serif;
$font-family-serif:         Georgia, Times, "Times New Roman", serif;

$font-size:                 16px;
$font-height:               24px;

$h1-size: 	                64px;
$h1-height:                 72px;

$h2-size: 	                48px;
$h2-height:                 64px;

$h3-size: 	                42px;
$h3-height:                 64px;

$h4-size: 	                28px;
$h4-height:                 48px;

$h5-size: 	                18px;
$h5-height:                 30px;

$h6-size: 	                14px;
$h6-height:                 24px;

$small-size: 	              11px;
$small-height:              16px;

// Icons
$icon-xs:                   15px;
$icon-sm:                   25px;
$icon-md:                   30px;
$icon-lg:                   55px;
$icon-xl:                   150px;

// Easing
$ease-linear:               linear;
$ease-in-out:               ease-in-out;
$ease-in-out-back:          cubic-bezier(0.740, -0.315, 0.525, 1.005);
$ease-out-quint:            cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-out-expo:             cubic-bezier(0.050, 0.995, 0.220, 1.000);
$ease-in-out-cubic:         cubic-bezier(0.645, 0.045, 0.355, 1.000);
$ease-in-out-quart:         cubic-bezier(0.770, 0.000, 0.175, 1.000);
$ease-in-out-quint:         cubic-bezier(0.860, 0.000, 0.070, 1.000);
$ease-in-out-expo:          cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Media Queries
$screen-xxs:                 320px;
$screen-xxs-min:             $screen-xxs;
$screen-xs:                  360px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;
$screen-xl:                  1600px;
$screen-xl-min:              $screen-lg;
$screen-xl-desktop:          $screen-lg-min;
$screen-xxs-max:             ($screen-xs-min - 1);
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

// Kanye Distance
$kanye-distance-md:          22.5vw;
$kanye-distance-lg:          17.25vw;
