/* ==========================================================================
  Video
  ========================================================================== */
$module: 'video';

.#{$module} {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: translateY(-300px);
  background-color: $black;
  opacity: 1;
  visibility: visible;
  pointer-events: none;
  cursor: default;
  transition: 1s opacity $ease-out-quint, 0.75s transform $ease-in-out-quart;

  /* ==========================================================================
  Elements
  ========================================================================== */

  /* ==========================================================================
  Modifiers
  ========================================================================== */
}
