@font-face {
  font-family: 'DropDeadGorgeous';
  src: url('/fonts/DropDeadGorgeous.woff2') format('woff2'),
       url('/fonts/DropDeadGorgeous.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
